#main-footer {
    background-color: #222122;
}
#footer-bottom { 
    background-color: #222122;
    .et-social-icon a{
        color: #ffffffe6;
        font-size: 20px;
    }
}
#footer-info {
    color: #ffffffe6;
}
